.sprite span {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

#menu.sprite span {
  position: relative;
  float: left;
  left: 110px;
}

.sprite-1 {
    width: 30px;
    height: 30px;
    background-position: -5px -5px;
}

.sprite-10 {
    width: 30px;
    height: 30px;
    background-position: -45px -5px;
}

.sprite-100 {
    width: 30px;
    height: 30px;
    background-position: -85px -5px;
}

.sprite-101 {
    width: 30px;
    height: 30px;
    background-position: -125px -5px;
}

.sprite-102 {
    width: 30px;
    height: 30px;
    background-position: -165px -5px;
}

.sprite-103 {
    width: 30px;
    height: 30px;
    background-position: -205px -5px;
}

.sprite-104 {
    width: 30px;
    height: 30px;
    background-position: -245px -5px;
}

.sprite-105 {
    width: 30px;
    height: 30px;
    background-position: -285px -5px;
}

.sprite-106 {
    width: 30px;
    height: 30px;
    background-position: -325px -5px;
}

.sprite-107 {
    width: 30px;
    height: 30px;
    background-position: -365px -5px;
}

.sprite-108 {
    width: 30px;
    height: 30px;
    background-position: -405px -5px;
}

.sprite-109 {
    width: 30px;
    height: 30px;
    background-position: -445px -5px;
}

.sprite-11 {
    width: 30px;
    height: 30px;
    background-position: -485px -5px;
}

.sprite-110 {
    width: 30px;
    height: 30px;
    background-position: -525px -5px;
}

.sprite-111 {
    width: 30px;
    height: 30px;
    background-position: -565px -5px;
}

.sprite-112 {
    width: 30px;
    height: 30px;
    background-position: -5px -45px;
}

.sprite-113 {
    width: 30px;
    height: 30px;
    background-position: -45px -45px;
}

.sprite-114 {
    width: 30px;
    height: 30px;
    background-position: -85px -45px;
}

.sprite-115 {
    width: 30px;
    height: 30px;
    background-position: -125px -45px;
}

.sprite-116 {
    width: 30px;
    height: 30px;
    background-position: -165px -45px;
}

.sprite-117 {
    width: 30px;
    height: 30px;
    background-position: -205px -45px;
}

.sprite-118 {
    width: 30px;
    height: 30px;
    background-position: -245px -45px;
}

.sprite-119 {
    width: 30px;
    height: 30px;
    background-position: -285px -45px;
}

.sprite-12 {
    width: 30px;
    height: 30px;
    background-position: -325px -45px;
}

.sprite-120 {
    width: 30px;
    height: 30px;
    background-position: -365px -45px;
}

.sprite-121 {
    width: 30px;
    height: 30px;
    background-position: -405px -45px;
}

.sprite-122 {
    width: 30px;
    height: 30px;
    background-position: -445px -45px;
}

.sprite-123 {
    width: 30px;
    height: 30px;
    background-position: -485px -45px;
}

.sprite-124 {
    width: 30px;
    height: 30px;
    background-position: -525px -45px;
}

.sprite-125 {
    width: 30px;
    height: 30px;
    background-position: -565px -45px;
}

.sprite-126 {
    width: 30px;
    height: 30px;
    background-position: -5px -85px;
}

.sprite-127 {
    width: 30px;
    height: 30px;
    background-position: -45px -85px;
}

.sprite-128 {
    width: 30px;
    height: 30px;
    background-position: -85px -85px;
}

.sprite-129 {
    width: 30px;
    height: 30px;
    background-position: -125px -85px;
}

.sprite-13 {
    width: 30px;
    height: 30px;
    background-position: -165px -85px;
}

.sprite-130 {
    width: 30px;
    height: 30px;
    background-position: -205px -85px;
}

.sprite-131 {
    width: 30px;
    height: 30px;
    background-position: -245px -85px;
}

.sprite-132 {
    width: 30px;
    height: 30px;
    background-position: -285px -85px;
}

.sprite-133 {
    width: 30px;
    height: 30px;
    background-position: -325px -85px;
}

.sprite-134 {
    width: 30px;
    height: 30px;
    background-position: -365px -85px;
}

.sprite-135 {
    width: 30px;
    height: 30px;
    background-position: -405px -85px;
}

.sprite-136 {
    width: 30px;
    height: 30px;
    background-position: -445px -85px;
}

.sprite-137 {
    width: 30px;
    height: 30px;
    background-position: -485px -85px;
}

.sprite-138 {
    width: 30px;
    height: 30px;
    background-position: -525px -85px;
}

.sprite-139 {
    width: 30px;
    height: 30px;
    background-position: -565px -85px;
}

.sprite-14 {
    width: 30px;
    height: 30px;
    background-position: -5px -125px;
}

.sprite-140 {
    width: 30px;
    height: 30px;
    background-position: -45px -125px;
}

.sprite-141 {
    width: 30px;
    height: 30px;
    background-position: -85px -125px;
}

.sprite-142 {
    width: 30px;
    height: 30px;
    background-position: -125px -125px;
}

.sprite-143 {
    width: 30px;
    height: 30px;
    background-position: -165px -125px;
}

.sprite-144 {
    width: 30px;
    height: 30px;
    background-position: -205px -125px;
}

.sprite-145 {
    width: 30px;
    height: 30px;
    background-position: -245px -125px;
}

.sprite-146 {
    width: 30px;
    height: 30px;
    background-position: -285px -125px;
}

.sprite-147 {
    width: 30px;
    height: 30px;
    background-position: -325px -125px;
}

.sprite-148 {
    width: 30px;
    height: 30px;
    background-position: -365px -125px;
}

.sprite-149 {
    width: 30px;
    height: 30px;
    background-position: -405px -125px;
}

.sprite-15 {
    width: 30px;
    height: 30px;
    background-position: -445px -125px;
}

.sprite-150 {
    width: 30px;
    height: 30px;
    background-position: -485px -125px;
}

.sprite-151 {
    width: 30px;
    height: 30px;
    background-position: -525px -125px;
}

.sprite-152 {
    width: 30px;
    height: 30px;
    background-position: -565px -125px;
}

.sprite-153 {
    width: 30px;
    height: 30px;
    background-position: -5px -165px;
}

.sprite-154 {
    width: 30px;
    height: 30px;
    background-position: -45px -165px;
}

.sprite-155 {
    width: 30px;
    height: 30px;
    background-position: -85px -165px;
}

.sprite-156 {
    width: 30px;
    height: 30px;
    background-position: -125px -165px;
}

.sprite-157 {
    width: 30px;
    height: 30px;
    background-position: -165px -165px;
}

.sprite-158 {
    width: 30px;
    height: 30px;
    background-position: -205px -165px;
}

.sprite-159 {
    width: 30px;
    height: 30px;
    background-position: -245px -165px;
}

.sprite-16 {
    width: 30px;
    height: 30px;
    background-position: -285px -165px;
}

.sprite-160 {
    width: 30px;
    height: 30px;
    background-position: -325px -165px;
}

.sprite-161 {
    width: 30px;
    height: 30px;
    background-position: -365px -165px;
}

.sprite-162 {
    width: 30px;
    height: 30px;
    background-position: -405px -165px;
}

.sprite-163 {
    width: 30px;
    height: 30px;
    background-position: -445px -165px;
}

.sprite-164 {
    width: 30px;
    height: 30px;
    background-position: -485px -165px;
}

.sprite-165 {
    width: 30px;
    height: 30px;
    background-position: -525px -165px;
}

.sprite-166 {
    width: 30px;
    height: 30px;
    background-position: -565px -165px;
}

.sprite-167 {
    width: 30px;
    height: 30px;
    background-position: -5px -205px;
}

.sprite-168 {
    width: 30px;
    height: 30px;
    background-position: -45px -205px;
}

.sprite-169 {
    width: 30px;
    height: 30px;
    background-position: -85px -205px;
}

.sprite-17 {
    width: 30px;
    height: 30px;
    background-position: -125px -205px;
}

.sprite-170 {
    width: 30px;
    height: 30px;
    background-position: -165px -205px;
}

.sprite-171 {
    width: 30px;
    height: 30px;
    background-position: -205px -205px;
}

.sprite-172 {
    width: 30px;
    height: 30px;
    background-position: -245px -205px;
}

.sprite-173 {
    width: 30px;
    height: 30px;
    background-position: -285px -205px;
}

.sprite-174 {
    width: 30px;
    height: 30px;
    background-position: -325px -205px;
}

.sprite-175 {
    width: 30px;
    height: 30px;
    background-position: -365px -205px;
}

.sprite-176 {
    width: 30px;
    height: 30px;
    background-position: -405px -205px;
}

.sprite-177 {
    width: 30px;
    height: 30px;
    background-position: -445px -205px;
}

.sprite-178 {
    width: 30px;
    height: 30px;
    background-position: -485px -205px;
}

.sprite-179 {
    width: 30px;
    height: 30px;
    background-position: -525px -205px;
}

.sprite-18 {
    width: 30px;
    height: 30px;
    background-position: -565px -205px;
}

.sprite-180 {
    width: 30px;
    height: 30px;
    background-position: -5px -245px;
}

.sprite-181 {
    width: 30px;
    height: 30px;
    background-position: -45px -245px;
}

.sprite-182 {
    width: 30px;
    height: 30px;
    background-position: -85px -245px;
}

.sprite-183 {
    width: 30px;
    height: 30px;
    background-position: -125px -245px;
}

.sprite-184 {
    width: 30px;
    height: 30px;
    background-position: -165px -245px;
}

.sprite-185 {
    width: 30px;
    height: 30px;
    background-position: -205px -245px;
}

.sprite-186 {
    width: 30px;
    height: 30px;
    background-position: -245px -245px;
}

.sprite-187 {
    width: 30px;
    height: 30px;
    background-position: -285px -245px;
}

.sprite-188 {
    width: 30px;
    height: 30px;
    background-position: -325px -245px;
}

.sprite-189 {
    width: 30px;
    height: 30px;
    background-position: -365px -245px;
}

.sprite-19 {
    width: 30px;
    height: 30px;
    background-position: -405px -245px;
}

.sprite-190 {
    width: 30px;
    height: 30px;
    background-position: -445px -245px;
}

.sprite-191 {
    width: 30px;
    height: 30px;
    background-position: -485px -245px;
}

.sprite-192 {
    width: 30px;
    height: 30px;
    background-position: -525px -245px;
}

.sprite-193 {
    width: 30px;
    height: 30px;
    background-position: -565px -245px;
}

.sprite-194 {
    width: 30px;
    height: 30px;
    background-position: -5px -285px;
}

.sprite-195 {
    width: 30px;
    height: 30px;
    background-position: -45px -285px;
}

.sprite-196 {
    width: 30px;
    height: 30px;
    background-position: -85px -285px;
}

.sprite-197 {
    width: 30px;
    height: 30px;
    background-position: -125px -285px;
}

.sprite-198 {
    width: 30px;
    height: 30px;
    background-position: -165px -285px;
}

.sprite-199 {
    width: 30px;
    height: 30px;
    background-position: -205px -285px;
}

.sprite-2 {
    width: 30px;
    height: 30px;
    background-position: -245px -285px;
}

.sprite-20 {
    width: 30px;
    height: 30px;
    background-position: -285px -285px;
}

.sprite-200 {
    width: 30px;
    height: 30px;
    background-position: -325px -285px;
}

.sprite-201 {
    width: 30px;
    height: 30px;
    background-position: -365px -285px;
}

.sprite-202 {
    width: 30px;
    height: 30px;
    background-position: -405px -285px;
}

.sprite-203 {
    width: 30px;
    height: 30px;
    background-position: -445px -285px;
}

.sprite-204 {
    width: 30px;
    height: 30px;
    background-position: -485px -285px;
}

.sprite-205 {
    width: 30px;
    height: 30px;
    background-position: -525px -285px;
}

.sprite-206 {
    width: 30px;
    height: 30px;
    background-position: -565px -285px;
}

.sprite-207 {
    width: 30px;
    height: 30px;
    background-position: -5px -325px;
}

.sprite-208 {
    width: 30px;
    height: 30px;
    background-position: -45px -325px;
}

.sprite-209 {
    width: 30px;
    height: 30px;
    background-position: -85px -325px;
}

.sprite-21 {
    width: 30px;
    height: 30px;
    background-position: -125px -325px;
}

.sprite-210 {
    width: 30px;
    height: 30px;
    background-position: -165px -325px;
}

.sprite-211 {
    width: 30px;
    height: 30px;
    background-position: -205px -325px;
}

.sprite-212 {
    width: 30px;
    height: 30px;
    background-position: -245px -325px;
}

.sprite-213 {
    width: 30px;
    height: 30px;
    background-position: -285px -325px;
}

.sprite-214 {
    width: 30px;
    height: 30px;
    background-position: -325px -325px;
}

.sprite-215 {
    width: 30px;
    height: 30px;
    background-position: -365px -325px;
}

.sprite-216 {
    width: 30px;
    height: 30px;
    background-position: -405px -325px;
}

.sprite-217 {
    width: 30px;
    height: 30px;
    background-position: -445px -325px;
}

.sprite-218 {
    width: 30px;
    height: 30px;
    background-position: -485px -325px;
}

.sprite-219 {
    width: 30px;
    height: 30px;
    background-position: -525px -325px;
}

.sprite-22 {
    width: 30px;
    height: 30px;
    background-position: -565px -325px;
}

.sprite-220 {
    width: 30px;
    height: 30px;
    background-position: -5px -365px;
}

.sprite-221 {
    width: 30px;
    height: 30px;
    background-position: -45px -365px;
}

.sprite-222 {
    width: 30px;
    height: 30px;
    background-position: -85px -365px;
}

.sprite-223 {
    width: 30px;
    height: 30px;
    background-position: -125px -365px;
}

.sprite-224 {
    width: 30px;
    height: 30px;
    background-position: -165px -365px;
}

.sprite-225 {
    width: 30px;
    height: 30px;
    background-position: -205px -365px;
}

.sprite-226 {
    width: 30px;
    height: 30px;
    background-position: -245px -365px;
}

.sprite-227 {
    width: 30px;
    height: 30px;
    background-position: -285px -365px;
}

.sprite-228 {
    width: 30px;
    height: 30px;
    background-position: -325px -365px;
}

.sprite-229 {
    width: 30px;
    height: 30px;
    background-position: -365px -365px;
}

.sprite-23 {
    width: 30px;
    height: 30px;
    background-position: -405px -365px;
}

.sprite-230 {
    width: 30px;
    height: 30px;
    background-position: -445px -365px;
}

.sprite-231 {
    width: 30px;
    height: 30px;
    background-position: -485px -365px;
}

.sprite-232 {
    width: 30px;
    height: 30px;
    background-position: -525px -365px;
}

.sprite-233 {
    width: 30px;
    height: 30px;
    background-position: -565px -365px;
}

.sprite-234 {
    width: 30px;
    height: 30px;
    background-position: -5px -405px;
}

.sprite-235 {
    width: 30px;
    height: 30px;
    background-position: -45px -405px;
}

.sprite-236 {
    width: 30px;
    height: 30px;
    background-position: -85px -405px;
}

.sprite-237 {
    width: 30px;
    height: 30px;
    background-position: -125px -405px;
}

.sprite-238 {
    width: 30px;
    height: 30px;
    background-position: -165px -405px;
}

.sprite-239 {
    width: 30px;
    height: 30px;
    background-position: -205px -405px;
}

.sprite-24 {
    width: 30px;
    height: 30px;
    background-position: -245px -405px;
}

.sprite-240 {
    width: 30px;
    height: 30px;
    background-position: -285px -405px;
}

.sprite-241 {
    width: 30px;
    height: 30px;
    background-position: -325px -405px;
}

.sprite-242 {
    width: 30px;
    height: 30px;
    background-position: -365px -405px;
}

.sprite-243 {
    width: 30px;
    height: 30px;
    background-position: -405px -405px;
}

.sprite-244 {
    width: 30px;
    height: 30px;
    background-position: -445px -405px;
}

.sprite-245 {
    width: 30px;
    height: 30px;
    background-position: -485px -405px;
}

.sprite-246 {
    width: 30px;
    height: 30px;
    background-position: -525px -405px;
}

.sprite-247 {
    width: 30px;
    height: 30px;
    background-position: -565px -405px;
}

.sprite-248 {
    width: 30px;
    height: 30px;
    background-position: -5px -445px;
}

.sprite-249 {
    width: 30px;
    height: 30px;
    background-position: -45px -445px;
}

.sprite-25 {
    width: 30px;
    height: 30px;
    background-position: -85px -445px;
}

.sprite-250 {
    width: 30px;
    height: 30px;
    background-position: -125px -445px;
}

.sprite-251 {
    width: 30px;
    height: 30px;
    background-position: -165px -445px;
}

.sprite-26 {
    width: 30px;
    height: 30px;
    background-position: -205px -445px;
}

.sprite-27 {
    width: 30px;
    height: 30px;
    background-position: -245px -445px;
}

.sprite-28 {
    width: 30px;
    height: 30px;
    background-position: -285px -445px;
}

.sprite-29 {
    width: 30px;
    height: 30px;
    background-position: -325px -445px;
}

.sprite-3 {
    width: 30px;
    height: 30px;
    background-position: -365px -445px;
}

.sprite-30 {
    width: 30px;
    height: 30px;
    background-position: -405px -445px;
}

.sprite-31 {
    width: 30px;
    height: 30px;
    background-position: -445px -445px;
}

.sprite-32 {
    width: 30px;
    height: 30px;
    background-position: -485px -445px;
}

.sprite-33 {
    width: 30px;
    height: 30px;
    background-position: -525px -445px;
}

.sprite-34 {
    width: 30px;
    height: 30px;
    background-position: -565px -445px;
}

.sprite-35 {
    width: 30px;
    height: 30px;
    background-position: -5px -485px;
}

.sprite-36 {
    width: 30px;
    height: 30px;
    background-position: -45px -485px;
}

.sprite-37 {
    width: 30px;
    height: 30px;
    background-position: -85px -485px;
}

.sprite-38 {
    width: 30px;
    height: 30px;
    background-position: -125px -485px;
}

.sprite-39 {
    width: 30px;
    height: 30px;
    background-position: -165px -485px;
}

.sprite-4 {
    width: 30px;
    height: 30px;
    background-position: -205px -485px;
}

.sprite-40 {
    width: 30px;
    height: 30px;
    background-position: -245px -485px;
}

.sprite-41 {
    width: 30px;
    height: 30px;
    background-position: -285px -485px;
}

.sprite-42 {
    width: 30px;
    height: 30px;
    background-position: -325px -485px;
}

.sprite-43 {
    width: 30px;
    height: 30px;
    background-position: -365px -485px;
}

.sprite-44 {
    width: 30px;
    height: 30px;
    background-position: -405px -485px;
}

.sprite-45 {
    width: 30px;
    height: 30px;
    background-position: -445px -485px;
}

.sprite-46 {
    width: 30px;
    height: 30px;
    background-position: -485px -485px;
}

.sprite-47 {
    width: 30px;
    height: 30px;
    background-position: -525px -485px;
}

.sprite-48 {
    width: 30px;
    height: 30px;
    background-position: -565px -485px;
}

.sprite-49 {
    width: 30px;
    height: 30px;
    background-position: -5px -525px;
}

.sprite-5 {
    width: 30px;
    height: 30px;
    background-position: -45px -525px;
}

.sprite-50 {
    width: 30px;
    height: 30px;
    background-position: -85px -525px;
}

.sprite-51 {
    width: 30px;
    height: 30px;
    background-position: -125px -525px;
}

.sprite-52 {
    width: 30px;
    height: 30px;
    background-position: -165px -525px;
}

.sprite-53 {
    width: 30px;
    height: 30px;
    background-position: -205px -525px;
}

.sprite-54 {
    width: 30px;
    height: 30px;
    background-position: -245px -525px;
}

.sprite-55 {
    width: 30px;
    height: 30px;
    background-position: -285px -525px;
}

.sprite-56 {
    width: 30px;
    height: 30px;
    background-position: -325px -525px;
}

.sprite-57 {
    width: 30px;
    height: 30px;
    background-position: -365px -525px;
}

.sprite-58 {
    width: 30px;
    height: 30px;
    background-position: -405px -525px;
}

.sprite-59 {
    width: 30px;
    height: 30px;
    background-position: -445px -525px;
}

.sprite-6 {
    width: 30px;
    height: 30px;
    background-position: -485px -525px;
}

.sprite-60 {
    width: 30px;
    height: 30px;
    background-position: -525px -525px;
}

.sprite-61 {
    width: 30px;
    height: 30px;
    background-position: -565px -525px;
}

.sprite-62 {
    width: 30px;
    height: 30px;
    background-position: -5px -565px;
}

.sprite-63 {
    width: 30px;
    height: 30px;
    background-position: -45px -565px;
}

.sprite-64 {
    width: 30px;
    height: 30px;
    background-position: -85px -565px;
}

.sprite-65 {
    width: 30px;
    height: 30px;
    background-position: -125px -565px;
}

.sprite-66 {
    width: 30px;
    height: 30px;
    background-position: -165px -565px;
}

.sprite-67 {
    width: 30px;
    height: 30px;
    background-position: -205px -565px;
}

.sprite-68 {
    width: 30px;
    height: 30px;
    background-position: -245px -565px;
}

.sprite-69 {
    width: 30px;
    height: 30px;
    background-position: -285px -565px;
}

.sprite-7 {
    width: 30px;
    height: 30px;
    background-position: -325px -565px;
}

.sprite-70 {
    width: 30px;
    height: 30px;
    background-position: -365px -565px;
}

.sprite-71 {
    width: 30px;
    height: 30px;
    background-position: -405px -565px;
}

.sprite-72 {
    width: 30px;
    height: 30px;
    background-position: -445px -565px;
}

.sprite-73 {
    width: 30px;
    height: 30px;
    background-position: -485px -565px;
}

.sprite-74 {
    width: 30px;
    height: 30px;
    background-position: -525px -565px;
}

.sprite-75 {
    width: 30px;
    height: 30px;
    background-position: -565px -565px;
}

.sprite-76 {
    width: 30px;
    height: 30px;
    background-position: -605px -5px;
}

.sprite-77 {
    width: 30px;
    height: 30px;
    background-position: -605px -45px;
}

.sprite-78 {
    width: 30px;
    height: 30px;
    background-position: -605px -85px;
}

.sprite-79 {
    width: 30px;
    height: 30px;
    background-position: -605px -125px;
}

.sprite-8 {
    width: 30px;
    height: 30px;
    background-position: -605px -165px;
}

.sprite-80 {
    width: 30px;
    height: 30px;
    background-position: -605px -205px;
}

.sprite-81 {
    width: 30px;
    height: 30px;
    background-position: -605px -245px;
}

.sprite-82 {
    width: 30px;
    height: 30px;
    background-position: -605px -285px;
}

.sprite-83 {
    width: 30px;
    height: 30px;
    background-position: -605px -325px;
}

.sprite-84 {
    width: 30px;
    height: 30px;
    background-position: -605px -365px;
}

.sprite-85 {
    width: 30px;
    height: 30px;
    background-position: -605px -405px;
}

.sprite-86 {
    width: 30px;
    height: 30px;
    background-position: -605px -445px;
}

.sprite-87 {
    width: 30px;
    height: 30px;
    background-position: -605px -485px;
}

.sprite-88 {
    width: 30px;
    height: 30px;
    background-position: -605px -525px;
}

.sprite-89 {
    width: 30px;
    height: 30px;
    background-position: -605px -565px;
}

.sprite-9 {
    width: 30px;
    height: 30px;
    background-position: -5px -605px;
}

.sprite-90 {
    width: 30px;
    height: 30px;
    background-position: -45px -605px;
}

.sprite-91 {
    width: 30px;
    height: 30px;
    background-position: -85px -605px;
}

.sprite-92 {
    width: 30px;
    height: 30px;
    background-position: -125px -605px;
}

.sprite-93 {
    width: 30px;
    height: 30px;
    background-position: -165px -605px;
}

.sprite-94 {
    width: 30px;
    height: 30px;
    background-position: -205px -605px;
}

.sprite-95 {
    width: 30px;
    height: 30px;
    background-position: -245px -605px;
}

.sprite-96 {
    width: 30px;
    height: 30px;
    background-position: -285px -605px;
}

.sprite-97 {
    width: 30px;
    height: 30px;
    background-position: -325px -605px;
}

.sprite-98 {
    width: 30px;
    height: 30px;
    background-position: -365px -605px;
}

.sprite-99 {
    width: 30px;
    height: 30px;
    background-position: -405px -605px;
}
